<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}SAFER IMMOBILIER
			{% endblock %}
		</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link
		rel="shortcut icon" type="image/x-icon" href="{{ asset("assets/images/favicon.png") }}">
		<!-- Bootstrap core CSS -->
		<link
		href="{{ asset("assets/css/bootstrap.min.css") }}" rel="stylesheet" type="text/css">
		<!--Custom CSS-->
		<link
		href="{{asset("assets/css/style.css")}}" rel="stylesheet" type="text/css">
		<!--Plugin CSS-->
		<link
		href="{{asset("assets/css/plugin.css")}}" rel="stylesheet" type="text/css">
		<!--Flaticons CSS-->
		<link
		href="{{asset("assets/fonts/flaticon.css")}}" rel="stylesheet" type="text/css">
		<!--Font Awesome-->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">

		<link rel="stylesheet" href="{{asset("assets/fonts/line-icons.css")}}" type="text/css">
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}


	</head>


	<body>

		{% block header %}
			<!-- Preloader -->
			<div id="preloader">
				<div id="status"></div>
			</div>
			<!-- Preloader Ends -->

			<!-- header starts -->
			<header
				class="main_header_area headerstye-1">
				<!-- Navigation Bar -->
				<div class="header_menu" id="header_menu">
					<nav class="navbar navbar-default">
						<div class="container">
							<div
								class="navbar-flex d-flex align-items-center justify-content-between w-100 pb-3 pt-3">
								<!-- Brand and toggle get grouped for better mobile display -->
								<div class="navbar-header">
									<a class="navbar-brand" href="index.html">
										<img src="{{asset("assets/images/images/logo-white.png")}}" alt="image">
										<img src="{{asset("assets/images/logo.png")}}" alt="image">
									</a>
								</div>
								<!-- Collect the nav links, forms, and other content for toggling -->
								<div class="navbar-collapse1 d-flex align-items-center" id="bs-example-navbar-collapse-1">
									<ul class="nav navbar-nav" id="responsive-menu">
										<li class="dropdown submenu active">
											<a href="{{ path('app_header') }}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">ACCUEIL

											</a>

										</li>

										<li class="submenu dropdown">
											<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Categories
												<i class="icon-arrow-down" aria-hidden="true"></i>
											</a>
											<ul class="dropdown-menu">

												<li class="submenu dropdown">
													<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Categories List<i class="fa fa-angle-right" aria-hidden="true"></i>
													</a>
													<ul class="dropdown-menu">
														<li>
															<a href="{{path('app_categories_terrain')}}">TERRRAIN AGRICOLE</a>
														</li>
														<li>
															<a href="{{path('app_categories_prairie')}}">PRAIRIE</a>
														</li>
														<li>
															<a href="{{path('app_categories_bois')}}">BOIS</a>
														</li>
														<li>
															<a href="{{path('app_categorie_batiments')}}">BATIMENTS</a>
														</li>
														<li>
															<a href="{{path('app_categories_exploitations')}}">EXPLOITATION</a>
														</li>
														<li>
															<a href="{{path('app_categories')}}">TOUTE categories</a>
														</li>
													</ul>
												</li>

											</ul>
										</li>
										<li class="submenu dropdown">
											<a href="{{ path('app_afficher_bien') }}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Bien

											</a>
											<ul class="dropdown-menu"></ul>
										</li>
										<li>
											<a href="{{path('app_contact')}}">Contact Us</a>
										</li>
									</div>

									<!-- /.navbar-collapse -->

									<div id="slicknav-mobile"></div>
								</div>
							</div>
							<!-- /.container-fluid -->
						</nav>
					</div>
					<!-- Navigation Bar Ends -->
				</header>
				<!-- header ends -->


			{% endblock header %}


			{% block body %}
				{% for message in app.flashes('success') %}
					<div class="alert alert-success">
						{{ message }}
					</div>
				{% endfor %}

				{#{{ include ('bodyHome.html.twig',ignore_missing=true) }}#}
				{# au lieu de faire un include , le code va plenté
																c'est mieux d'utiliser la route directeent qui appelle la fonction et ce que le controleur doit faire
																													#}
				{{ render(controller('App\\Controller\\bodyController::index' )) }}


			{% endblock %}


			{% block footer %}
				<!-- footer starts -->
				<footer class="pt-10 footermain">
					<div class="footer-upper pb-4">
						<div class="container">
							<div class="row">
								<div class="col-lg-4 col-md-6 col-sm-12 mb-4">
									<div class="footer-about">
										<img src="images/logo-white.png" alt="">

										<ul>
											<li class="white">
												<strong>PO Box:</strong>
												+47-252-254-2542</li>
											<li class="white">
												<strong>Location:</strong>
												Collins Street, sydney, Australia</li>
											<li class="white">
												<strong>Email:</strong>
												info@realshield.com</li>
											<li class="white">
												<strong>Website:</strong>
												www.realshield.com</li>
										</ul>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>
				<div class="footer-copyright pt-2 pb-2">
					<div class="container">
						<div class="copyright-inner d-md-flex align-items-center justify-content-between">
							<div class="copyright-text">
								<p class="m-0 white">2022 Copyright All rights reserved.</p>
							</div>
							<div class="social-links">
								<ul>
									<li><a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</footer>
			<!-- footer ends -->


		{% endblock %}

	</body>


	<script src="{{asset("assets/js/jquery-3.5.1.min.js")}}"></script>
	<script src="{{asset("assets/js/bootstrap.min.js")}}"></script>
	<script src="{{asset("assets/js/plugin.js")}}"></script>
	<script src="{{asset("assets/js/main.js")}}"></script>
	<script src="{{asset("assets/js/custom-swiper.js")}}"></script>
	<script src="{{asset("assets/js/custom-nav.js")}}"></script>
</html></body></html></body></html>
