{% extends 'base.html.twig' %}
<body>
	{%form_theme formBien 'bootstrap_5_layout.html.twig'%}

	{% block body %}
		<!-- banner starts -->
		{{ form_start(formBien, {'attr' : {'id' :"form_ajout"} })}}

		<h2>Ajout de bien</h2>

		{{form_row(formBien.titre , {'attr' : {'placeholder' :"Titre"} })}}
		{{form_row(formBien.prix , {'attr' : {'placeholder' :"Prix"} })}}
		{{form_row(formBien.description , {'attr' : {'placeholder' :"Description"} })}}
		{{form_row(formBien.ville , {'attr' : {'placeholder' :"Ville"} })}}
		{{form_row(formBien.code_postal , {'attr' : {'placeholder' :"Code postal"} })}}
		{{form_row(formBien.surface , {'attr' : {'placeholder' :"Surface"} })}}


		<button class="createaccount-btn">Ajouter</button>


		{{form_end(formBien)}}

	{% endblock %}
</body></html>
