{% block body %}
	<!-- banner starts -->
	<section class="banner overflow-hidden">
		<div class="slider">
			<div class="swiper-container">
				<div class="swiper-wrapper">
					{% for message in Messages %}
						<div class="swiper-slide">
							<div class="slide-inner">
								<div class="slide-image" style="background-image:url({{ vich_uploader_asset(message ,'imageFile')}})"></div>
								<div class="swiper-content">
									<div class="entry-meta mb-0">
										<span class="entry-category">
											<a href="listing-leftfilter.html" class="white">
												{{message.titre}}</a>
										</span>
									</div>
									<h1 class="mb-1">
										<a href="detail-leftside.html" class="white">{{message.description}}</a>
									</h1>
									<p class="white mb-4">{{message.commentaire}}</p>
								</div>
								<div class="overlay"></div>
							</div>
						</div>
					{% endfor %}


				</div>
			</div>
		</div>


		<!-- Trending Starts -->
		<section class="trending">
			<div class="container">
				<div class="section-title mb-6 pb-1 w-75 mx-auto text-center">
					<h2 class="m-0">IMMOBILIER
						<span>/ TERRAINS</span>
					</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
				</div>
				<div class="trend-box">
					<div class="row item-slider">
						{% for bien in biens %}
							<div class="col-lg-4 col-md-6 col-sm-6 mb-4">
								<div class="trend-item box-shadow rounded">

									<div class="trend-image">
										<img src="{{ vich_uploader_asset(bien ,'imageFile')}}" alt="image">

										<div class="trend-meta d-flex align-items-center justify-content-between">
											<div class="entry-author">
												<img src="{{vich_uploader_asset(bien, 'imageFile' )}}" alt="" class="rounded-circle me-1">
												<span>{{bien.titre}}</span>
											</div>
											<a href="#" class="tags bg-theme2 white px-3 py-1">{{bien.status}}</a>
										</div>
									</div>

									<div class="trend-content p-4">
										<h5 class="theme">{{bien.categorie}}</h5>
										<h4>
											<p>{{bien.description}}</p>
										</h4>
										<div class="entry-meta d-flex align-items-center justify-content-between border-b pb-1 mb-2">
											<div class="entry-author">
												<p>Prix<span class="d-block theme fw-bold">{{bien.prix}}</span>
												</p>
											</div>
											<div class="entry-metalist d-flex align-items-center">
												<ul>
													<li class="me-2">
														<i class="fa fa-eye"></i>
													</li>
													<li class="me-2">
														<i class="fa fa-heart"></i>
													</li>
												</ul>
											</div>
										</div>


									</div>


								</div>
							</div>
						{% endfor %}

					</div>

					<div class="trend-btn text-center">
						<a href="#" class="nir-btn">Voir Toute La Liste</a>
					</div>
				</div>
			</div>
		</section>
		<!-- Trending Ends -->

		<!-- trending-topic starts -->
		<section class="category-main pb-6">
			<div class="container">
				<div class="section-title mb-2 pb-1 w-75 mx-auto text-center">
					<h2 class="m-0">Choisissez votre
						<span>Categorie</span>
					</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
				</div>
				<div class="category-main-inner">
					<div class="row side-slider">
						{% for categorie in categories %}
							<div class="col-lg-3 col-md-6 my-4">
								<div class="category-item box-shadow p-4 py-6 text-center">
									<i class="fa fa-archive mb-2"></i>
									<div class="trending-topic-content">
										<h4 class="mb-1">
											<a href="grid-leftfilter.html">{{categorie.typecat}}</a>
										</h4>
										<span>22 Propriétés</span>
									</div>
								</div>
							</div>
						{%  endfor %}
					</div>

				</div>
			</div>
		</section>
		<!--trending-topic ends -->


		<!-- about-us starts -->
		<section class="about-us pt-0 pb-6">
			<div class="container">
				<div class="about-image-box">
					<div class="row d-flex align-items-center justify-content-between">
						<div class="col-lg-7 col-sm-12 mb-4">
							<div class="about-content text-center text-lg-start">
								<h4 class="theme d-inline-block">A Propos de Nous</h4>
								<h2 class="border-b mb-2 pb-2">Le principal marché de la location immobilière.</h2>
								<p class="border-b mb-2 pb-2">SAFER est une entreprise qui fournit des biens aux porteurs de projet tout en les évitant de se deplacer
									<br><br>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
								<div class="about-listing">
									<ul class="d-flex justify-content-between">
										<li>
											<i class="fa fa-building theme"></i>
											Conception de maison intelligente</li>
										<li>
											<i class="fa fa-building theme"></i>
											Belle scène autour</li>
										<li>
											<i class="fa fa-building theme"></i>
											Sécurité complète 24h/24 et 7j/7</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-lg-5 col-sm-12 mb-4">
							<div class="about-image p-3 box-shadow position-relative">
								<img src="{{asset("assets/images/destination/destination3.jpg")}}" alt="" class="w-100">

								<div class="video-button text-center">
									<div class="call-button text-center">
										<iframe type="button" class="play-btn js-video-button" width="490" height="500" src="{{asset("assets/images/real-estate1.mp4")}}"></iframe>

										<i class="fa fa-play bg-blue"></i>
									</button>
								</div>
								<div class="video-figure"></div>
							</div>

						</div>
					</div>
				</div>
			</div>

		</div>
	</section><!-- about-us ends --><!-- Counter --><section class="counter-main pb-0 pt-0">
		<div class="container">
			<div class="counter text-center bg-lgrey p-5 pb-1 border">
				<div class="row">
					<div class="col-lg-3 col-md-6 col-sm-6 mb-4">
						<div class="counter-item d-flex align-items-center text-start border-end px-4">
							<i class="fa fa-users theme2 me-4"></i>
							<div class="counter-content">
								<h3 class="value mb-0">560</h3>
								<span class="m-0">Carré de surface totale</span>
							</div>
						</div>
					</div>

					<div class="col-lg-3 col-md-6 col-sm-6 mb-4">
						<div class="counter-item d-flex align-items-center text-start border-end px-4">
							<i class="fa fa-plane theme2 me-4"></i>
							<div class="counter-content">
								<h3 class="value mb-0">530</h3>
								<span class="m-0">Appartements vendus</span>
							</div>
						</div>
					</div>

					<div class="col-lg-3 col-md-6 col-sm-6 mb-4">
						<div class="counter-item d-flex align-items-center text-start border-end px-4">
							<i class="fa fa-chart-bar theme2 me-4"></i>
							<div class="counter-content">
								<h3 class="value mb-0">624</h3>
								<span class="m-0">Constructions totales</span>
							</div>
						</div>
					</div>

					<div class="col-lg-3 col-md-6 col-sm-6 mb-4">
						<div class="counter-item d-flex align-items-center text-start px-4">
							<i class="fa fa-support theme2 me-4"></i>
							<div class="counter-content">
								<h3 class="value mb-0">340</h3>
								<span class="m-0">Chambres Appartement</span>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</section><!-- End Counter --><br><br><br><!-- about-us starts --><section class="about-us bg-white pb-6 pt-0">
		<div class="container">

			<div class="row align-items-center mb-6 text-center text-lg-start">
				<div class="col-lg-8">
					<div class="section-title section-title-l pb-1">
						<h2 class="m-0">Pourquoi
							<span>Nous</span>
							Choisir?</h2>
						<p>Le principal marché de la location immobilière.</p>
					</div>
				</div>
				<div class="col-lg-4">
					<a href="#" class="nir-btn float-lg-end float-none">Voir Toute les Categories</a>
				</div>
			</div>

			<!-- why us starts -->
			<div class="why-us">
				<div class="why-us-box">
					<div class="row">
						<div class="col-lg-3 col-md-6 col-sm-6 mb-4">
							<div class="why-us-item text-center bg-lgrey">
								<div class="why-us-icon">
									<i class="flaticon-call theme"></i>
								</div>
								<div class="why-us-content">
									<h4>
										<a href="about.html">Approuvé par des milliers</a>
									</h4>
									<p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6 col-sm-6 mb-4">
							<div class="why-us-item text-center bg-lgrey">
								<div class="why-us-icon">
									<i class="flaticon-global theme"></i>
								</div>
								<div class="why-us-content">
									<h4>
										<a href="about.html">Propriétés larges de Renge</a>
									</h4>
									<p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6 col-sm-6 mb-4">
							<div class="why-us-item text-center bg-lgrey">
								<div class="why-us-icon">
									<i class="flaticon-building theme"></i>
								</div>
								<div class="why-us-content">
									<h4>
										<a href="about.html">Le financement simplifié</a>
									</h4>
									<p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
								</div>
							</div>
						</div>

						<div class="col-lg-3 col-md-6 col-sm-6 mb-4">
							<div class="why-us-item text-center bg-lgrey">
								<div class="why-us-icon">
									<i class="flaticon-location-pin theme"></i>
								</div>
								<div class="why-us-content">
									<h4>
										<a href="about.html">Nous sommes ici près de chez vous</a>
									</h4>
									<p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- why us ends -->
		</div>
	</section><!-- about-us ends --><!-- testomonial start -->

	<!-- testimonial ends -->
{% endblock %}
