<!-- banner starts -->
<section class="banner overflow-hidden">
	<div class="slider">
		<div class="swiper-container">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<div class="slide-inner">
						<div class="slide-image" style="background-image:url(assets/images/SAFER/immo1.jpg)"></div>
						<div class="swiper-content">
							<div class="entry-meta mb-0">
								<span class="entry-category">
									<a href="listing-leftfilter.html" class="white">
										Real Estate Agency</a>
								</span>
							</div>
							<h1 class="mb-1">
								<a href="detail-leftside.html" class="white">Find Your Dream House By Us</a>
							</h1>
							<p class="white mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
						</div>
						<div class="overlay"></div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="slide-inner">
						<div class="slide-image" style="background-image:url(assets/images/SAFER/immo.jpg)"></div>
						<div class="swiper-content">
							<div class="entry-meta mb-0">
								<span class="entry-category">
									<a href="listing-leftfilter.html" class="white">
										Real Estate Agency</a>
								</span>
							</div>
							<h1 class="mb-1">
								<a href="detail-leftside.html" class="white">Find Your Dream Apartment</a>
							</h1>
							<p class="white mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
						</div>
						<div class="overlay"></div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="slide-inner">
						<div class="slide-image" style="background-image:url(assets/images/SAFER/immo3.jpg)"></div>
						<div class="swiper-content">
							<div class="entry-meta mb-0">
								<span class="entry-category">
									<a href="listing-leftfilter.html" class="white">
										Real Estate Agency</a>
								</span>
							</div>
							<h1 class="mb-1">
								<a href="detail-leftside.html" class="white">Search Properties for Sale and To Rent</a>
							</h1>
							<p class="white mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
						</div>
						<div class="overlay"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Add Arrows -->
	<div class="swiper-button-next"></div>
	<div class="swiper-button-prev"></div>
</section>
<!-- banner ends -->

<!-- form main starts -->
<div class="form-main">
	<div class="container">
		<div class="form-content">
			<div class="form-navtab text-center">
				<ul class="nav nav-tabs" id="myTab" role="tablist">
					<li class="nav-item" role="presentation">
						<button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Buy</button>
					</li>
					<li class="nav-item" role="presentation">
						<button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Rent</button>
					</li>
				</ul>
			</div>

			<div class="tab-content" id="myTabContent">
				<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
					<div class="row d-flex align-items-center justify-content-between">
						<div class="col-lg">
							<div class="form-group mb-0">
								<label>Search Property</label>
								<div class="input-box">
									<i class="fa fa-search"></i>
									<input type="text" placeholder="Search Property">
								</div>
							</div>
						</div>
						<div class="col-lg">
							<div class="form-group mb-0">
								<label>Location</label>
								<div class="input-box">
									<i class="fa fa-map-marker-alt"></i>
									<select class="niceSelect">
										<option value="1">Input Location</option>
										<option value="2">Argentina</option>
										<option value="3">Belgium</option>
										<option value="4">Canada</option>
										<option value="5">Denmark</option>
									</select>
								</div>
							</div>
						</div>
						<div class="col-lg">
							<div class="form-group mb-0">
								<label>Property Type</label>
								<div class="input-box">
									<i class="fa fa-building"></i>
									<select class="niceSelect">
										<option value="1">Luxury</option>
										<option value="2">Deluxe</option>
										<option value="3">Premium</option>
									</select>
								</div>
							</div>
						</div>
						<div class="col-lg">
							<div class="form-group mb-0 mt-4">
								<a href="#" class="nir-btn w-100">
									<i class="fa fa-search mr-2"></i>
									Search Now</a>
							</div>
						</div>
					</div>
				</div>

				<div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
					<div class="row d-flex align-items-center justify-content-between">
						<div class="col-lg">
							<div class="form-group mb-0">
								<label>Search Property</label>
								<div class="input-box">
									<i class="flaticon-search"></i>
									<input type="text" placeholder="Search Property">
								</div>
							</div>
						</div>
						<div class="col-lg">
							<div class="form-group mb-0">
								<label>Location</label>
								<div class="input-box">
									<i class="flaticon-placeholder"></i>
									<select class="niceSelect">
										<option value="1">Input Location</option>
										<option value="2">Argentina</option>
										<option value="3">Belgium</option>
										<option value="4">Canada</option>
										<option value="5">Denmark</option>
									</select>
								</div>
							</div>
						</div>
						<div class="col-lg">
							<div class="form-group mb-0">
								<label>Property Type</label>
								<div class="input-box">
									<i class="flaticon-add-user"></i>
									<select class="niceSelect">
										<option value="1">Luxury</option>
										<option value="2">Deluxe</option>
										<option value="3">Premium</option>
									</select>
								</div>
							</div>
						</div>
						<div class="col-lg">
							<div class="form-group mb-0 mt-4">
								<a href="#" class="nir-btn w-100">
									<i class="fa fa-search mr-2"></i>
									Search Now</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- form main ends -->

<!-- Trending Starts -->
<section class="trending">
	<div class="container">
		<div class="section-title mb-6 pb-1 w-75 mx-auto text-center">
			<h2 class="m-0">IMMOBILIER
				<span>TERRAINS</span>
			</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
		</div>
		<div class="trend-box">
			<div class="row item-slider">
				<div class="col-lg-4 col-md-6 col-sm-6 mb-4">
					<div class="trend-item box-shadow rounded">
						<div class="trend-image">
							<img src="{{asset("assets/images/trending/trending2.jpg")}}" alt="image">
							<a href="#" class="flash bg-theme1 white px-3 py-2">
								<i class="fa fa-flash"></i>
							</a>
							<div class="trend-meta d-flex align-items-center justify-content-between">
								<div class="entry-author">
									<img src="{{asset("/assets/images/reviewer/2.jpg")}}" alt="" class="rounded-circle me-1">
									<span>Jenny Lofar</span>
								</div>
								<a href="grid-leftfilter.html" class="tags bg-theme2 white px-3 py-1">For Rent</a>
							</div>
						</div>
						<div class="trend-content p-4">
							<h5 class="theme">Apartment</h5>
							<h4>
								<a href="grid-leftfilter.html">7012 Shine Sehu Street, Liverpool London, LC345AC</a>
							</h4>
							<div class="entry-meta d-flex align-items-center justify-content-between border-b pb-1 mb-2">
								<div class="entry-author">
									<p>Start From<span class="d-block theme fw-bold">$63,000.00</span>
									</p>

								</div>
								<div class="entry-metalist d-flex align-items-center">
									<ul>
										<li class="me-2">
											<i class="fa fa-eye"></i>
										</li>
										<li class="me-2">
											<i class="fa fa-heart"></i>
										</li>
									</ul>
								</div>
							</div>
							<p class="mb-0">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum</p>

						</div>
						<ul class="d-flex align-items-center justify-content-between bg-grey p-3 px-4">
							<li class="me-2">
								<i class="fa fa-eye"></i>
								3 Beds</li>
							<li class="me-2">
								<i class="fa fa-heart"></i>
								2 Baths</li>
							<li>
								<i class="fa fa-comments"></i>
								600 Sq Ft</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-6 mb-4">
					<div class="trend-item box-shadow rounded">
						<div class="trend-image">
							<img src="{{asset("/assets/images/trending/trending1.jpg")}}" alt="image">
							<a href="#" class="flash bg-theme1 white px-3 py-2">
								<i class="fa fa-flash"></i>
							</a>
							<div class="trend-meta d-flex align-items-center justify-content-between">
								<div class="entry-author">
									<img src="{{asset("/assets/images/reviewer/1.jpg")}}" alt="" class="rounded-circle me-1">
									<span>Jenny Lofar</span>
								</div>
								<a href="grid-leftfilter.html" class="tags bg-theme2 white px-3 py-1">For Sold</a>
							</div>
						</div>
						<div class="trend-content p-4">
							<h5 class="theme">Villa</h5>
							<h4>
								<a href="grid-leftfilter.html">425 Vine 012 Street, Montreal Canada, UHW45Q</a>
							</h4>
							<div class="entry-meta d-flex align-items-center justify-content-between border-b pb-1 mb-2">
								<div class="entry-author">
									<p>Start From<span class="d-block theme fw-bold">$20,000.00</span>
									</p>

								</div>
								<div class="entry-metalist d-flex align-items-center">
									<ul>
										<li class="me-2">
											<i class="fa fa-eye"></i>
										</li>
										<li class="me-2">
											<i class="fa fa-heart"></i>
										</li>
									</ul>
								</div>
							</div>
							<p class="mb-0">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum</p>

						</div>
						<ul class="d-flex align-items-center justify-content-between bg-grey p-3 px-4">
							<li class="me-2">
								<i class="fa fa-eye"></i>
								3 Beds</li>
							<li class="me-2">
								<i class="fa fa-heart"></i>
								2 Baths</li>
							<li>
								<i class="fa fa-comments"></i>
								600 Sq Ft</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-6 mb-4">
					<div class="trend-item box-shadow rounded">
						<div class="trend-image">
							<img src="{{asset("/assets/images/trending/trending3.jpg")}}" alt="image">
							<div class="trend-meta d-flex align-items-center justify-content-between box-shadow rounded">
								<div class="entry-author">
									<img src="{{asset("/assets/images/reviewer/1.jpg")}}" alt="" class="rounded-circle me-1">
									<span>Jenny Lofar</span>
								</div>
								<a href="grid-leftfilter.html" class="tags bg-theme2 white px-3 py-1">For Sold</a>
							</div>
						</div>
						<div class="trend-content p-4">
							<h5 class="theme">House</h5>
							<h4>
								<a href="grid-leftfilter.html">1244 Vansh Market, Mise Mizkel Australia, AU456HA</a>
							</h4>
							<div class="entry-meta d-flex align-items-center justify-content-between border-b pb-1 mb-2">
								<div class="entry-author">
									<p>Start From<span class="d-block theme fw-bold">$20,000.00</span>
									</p>

								</div>
								<div class="entry-metalist d-flex align-items-center">
									<ul>
										<li class="me-2">
											<i class="fa fa-eye"></i>
										</li>
										<li class="me-2">
											<i class="fa fa-heart"></i>
										</li>
									</ul>
								</div>
							</div>
							<p class="mb-0">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum</p>

						</div>
						<ul class="d-flex align-items-center justify-content-between bg-grey p-3 px-4">
							<li class="me-2">
								<i class="fa fa-eye"></i>
								3 Beds</li>
							<li class="me-2">
								<i class="fa fa-heart"></i>
								2 Baths</li>
							<li>
								<i class="fa fa-comments"></i>
								600 Sq Ft</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-6 mb-4">
					<div class="trend-item box-shadow rounded">
						<div class="trend-image">
							<img src="{{asset("/assets/images/trending/trending4.jpg")}}" alt="image">
							<div class="trend-meta d-flex align-items-center justify-content-between box-shadow rounded">
								<div class="entry-author">
									<img src="{{asset("/assets/images/reviewer/1.jpg")}}" alt="" class="rounded-circle me-1">
									<span>Jenny Lofar</span>
								</div>
								<a href="grid-leftfilter.html" class="tags bg-theme2 white px-3 py-1">For Sold</a>
							</div>
						</div>
						<div class="trend-content p-4">
							<h5 class="theme">House</h5>
							<h4>
								<a href="grid-leftfilter.html">1244 Vansh Market, Mise Mizkel Australia, AU456HA</a>
							</h4>
							<div class="entry-meta d-flex align-items-center justify-content-between border-b pb-1 mb-2">
								<div class="entry-author">
									<p>Start From<span class="d-block theme fw-bold">$20,000.00</span>
									</p>

								</div>
								<div class="entry-metalist d-flex align-items-center">
									<ul>
										<li class="me-2">
											<i class="fa fa-eye"></i>
										</li>
										<li class="me-2">
											<i class="fa fa-heart"></i>
										</li>
									</ul>
								</div>
							</div>
							<p class="mb-0">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum</p>

						</div>
						<ul class="d-flex align-items-center justify-content-between bg-grey p-3 px-4">
							<li class="me-2">
								<i class="fa fa-eye"></i>
								3 Beds</li>
							<li class="me-2">
								<i class="fa fa-heart"></i>
								2 Baths</li>
							<li>
								<i class="fa fa-comments"></i>
								600 Sq Ft</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="trend-btn text-center">
				<a href="#" class="nir-btn">View All Listings</a>
			</div>
		</div>
	</div>
</section>
<!-- Trending Ends -->

<!-- trending-topic starts -->
<section class="category-main pb-6">
	<div class="container">
		<div class="section-title mb-2 pb-1 w-75 mx-auto text-center">
			<h2 class="m-0">Choose Your
				<span>Category</span>
			</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
		</div>
		<div class="category-main-inner">
			<div class="row side-slider">
				<div class="col-lg-3 col-md-6 my-4">
					<div class="category-item box-shadow p-4 py-6 text-center">
						<i class="fa fa-archive mb-2"></i>
						<div class="trending-topic-content">
							<h4 class="mb-1">
								<a href="grid-leftfilter.html">Offices & Studios</a>
							</h4>
							<span>22 Properties</span>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 my-4">
					<div class="category-item box-shadow p-4 py-6 text-center">
						<i class="fa fa-industry mb-2"></i>
						<div class="trending-topic-content">
							<h4 class="mb-1">
								<a href="grid-leftfilter.html">Terrains Agricole</a>
							</h4>
							<span>18 Properties</span>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 my-4">
					<div class="category-item box-shadow p-4 py-6 text-center">
						<i class="fa fa-dumpster mb-2"></i>
						<div class="trending-topic-content">
							<h4 class="mb-1">
								<a href="grid-leftfilter.html">Prairie</a>
							</h4>
							<span>36 Properties</span>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 my-4">
					<div class="category-item box-shadow p-4 py-6 text-center">
						<i class="fa fa-building mb-2"></i>
						<div class="trending-topic-content">
							<h4 class="mb-1">
								<a href="grid-leftfilter.html">Batiments</a>
							</h4>
							<span>58 Properties</span>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 my-4">
					<div class="category-item box-shadow p-4 py-6 text-center">
						<i class="fa fa-home mb-2"></i>
						<div class="trending-topic-content">
							<h4 class="mb-1">
								<a href="grid-leftfilter.html">Bois</a>
							</h4>
							<span>45 Properties</span>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 my-4">
					<div class="category-item box-shadow p-4 py-6 text-center">
						<i class="fa fa-warehouse mb-2"></i>
						<div class="trending-topic-content">
							<h4 class="mb-1">
								<a href="grid-leftfilter.html">Exploitation</a>
							</h4>
							<span>31 Properties</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--trending-topic ends -->


<!-- about-us starts -->
<section class="about-us pt-0 pb-6">
	<div class="container">
		<div class="about-image-box">
			<div class="row d-flex align-items-center justify-content-between">
				<div class="col-lg-7 col-sm-12 mb-4">
					<div class="about-content text-center text-lg-start">
						<h4 class="theme d-inline-block">About Us</h4>
						<h2 class="border-b mb-2 pb-2">The Leading Real Estate Rental Marketplace.</h2>
						<p class="border-b mb-2 pb-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat
							<br><br>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						<div class="about-listing">
							<ul class="d-flex justify-content-between">
								<li>
									<i class="fa fa-building theme"></i>
									Smart Home Design</li>
								<li>
									<i class="fa fa-building theme"></i>
									Beautiful Scene Around</li>
								<li>
									<i class="fa fa-building theme"></i>
									Complete 24/7 Security</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-5 col-sm-12 mb-4">
					<div class="about-image p-3 box-shadow position-relative">
						<img src="{{asset("assets/images/destination/destination3.jpg")}}" alt="" class="w-100">
						<div class="video-button text-center">
							<div class="call-button text-center">
								<iframe type="button" class="play-btn js-video-button" width="490" height="500" src="{{asset("assets/images/real-estate1.mp4")}}"></iframe>

								<i class="fa fa-play bg-blue"></i>
							</button>
						</div>
						<div class="video-figure"></div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div></section><!-- about-us ends --><!-- Counter --><section class="counter-main pb-0 pt-0">
<div class="container">
	<div class="counter text-center bg-lgrey p-5 pb-1 border">
		<div class="row">
			<div class="col-lg-3 col-md-6 col-sm-6 mb-4">
				<div class="counter-item d-flex align-items-center text-start border-end px-4">
					<i class="fa fa-users theme2 me-4"></i>
					<div class="counter-content">
						<h3 class="value mb-0">560</h3>
						<span class="m-0">Total Area Square</span>
					</div>
				</div>
			</div>

			<div class="col-lg-3 col-md-6 col-sm-6 mb-4">
				<div class="counter-item d-flex align-items-center text-start border-end px-4">
					<i class="fa fa-plane theme2 me-4"></i>
					<div class="counter-content">
						<h3 class="value mb-0">530</h3>
						<span class="m-0">Apartments Sold</span>
					</div>
				</div>
			</div>

			<div class="col-lg-3 col-md-6 col-sm-6 mb-4">
				<div class="counter-item d-flex align-items-center text-start border-end px-4">
					<i class="fa fa-chart-bar theme2 me-4"></i>
					<div class="counter-content">
						<h3 class="value mb-0">624</h3>
						<span class="m-0">Total Constructions</span>
					</div>
				</div>
			</div>

			<div class="col-lg-3 col-md-6 col-sm-6 mb-4">
				<div class="counter-item d-flex align-items-center text-start px-4">
					<i class="fa fa-support theme2 me-4"></i>
					<div class="counter-content">
						<h3 class="value mb-0">340</h3>
						<span class="m-0">Apartio Rooms</span>
					</div>
				</div>
			</div>

		</div>
	</div>
</div></section><!-- End Counter --><br><br><br><!-- about-us starts --><section class="about-us bg-white pb-6 pt-0">
<div class="container">

	<div class="row align-items-center mb-6 text-center text-lg-start">
		<div class="col-lg-8">
			<div class="section-title section-title-l pb-1">
				<h2 class="m-0">Why
					<span>Choose</span>
					Us?</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
			</div>
		</div>
		<div class="col-lg-4">
			<a href="#" class="nir-btn float-lg-end float-none">View All Categories</a>
		</div>
	</div>

	<!-- why us starts -->
	<div class="why-us">
		<div class="why-us-box">
			<div class="row">
				<div class="col-lg-3 col-md-6 col-sm-6 mb-4">
					<div class="why-us-item text-center bg-lgrey">
						<div class="why-us-icon">
							<i class="flaticon-call theme"></i>
						</div>
						<div class="why-us-content">
							<h4>
								<a href="about.html">Trusted By Thousands</a>
							</h4>
							<p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6 mb-4">
					<div class="why-us-item text-center bg-lgrey">
						<div class="why-us-icon">
							<i class="flaticon-global theme"></i>
						</div>
						<div class="why-us-content">
							<h4>
								<a href="about.html">Wide Renge Properties</a>
							</h4>
							<p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6 mb-4">
					<div class="why-us-item text-center bg-lgrey">
						<div class="why-us-icon">
							<i class="flaticon-building theme"></i>
						</div>
						<div class="why-us-content">
							<h4>
								<a href="about.html">Financing Made Easy</a>
							</h4>
							<p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
						</div>
					</div>
				</div>

				<div class="col-lg-3 col-md-6 col-sm-6 mb-4">
					<div class="why-us-item text-center bg-lgrey">
						<div class="why-us-icon">
							<i class="flaticon-location-pin theme"></i>
						</div>
						<div class="why-us-content">
							<h4>
								<a href="about.html">We are here near you</a>
							</h4>
							<p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- why us ends -->
</div></section><!-- about-us ends --><!-- testomonial start --><section class="testimonial pb-5 pt-9">
<div class="container">
	<div class="section-title mb-4 pb-1 w-75 mx-auto text-center">
		<h2 class="m-0">Good Reviews By
			<span>Clients</span>
		</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
	</div>
	<div class="row review-slider">
		<div class="col-sm-4 item">
			<div class="testimonial-item1 text-center">
				<div class="details">
					<p class="m-0">Lorem Ipsum is simply dummy text of the printing andypesetting industry. Lorem ipsum a simple Lorem Ipsum has been the industry's standard dummy hic et quidem. Dignissimos maxime velit unde inventore quasi vero dolorem.</p>
				</div>
				<div class="author-info mt-2">
					<a href="#"><img src="images/testimonial/img1.jpg" alt=""></a>
					<div class="author-title">
						<h4 class="m-0 theme2">Jared Erondu</h4>
						<span>Supervisor</span>
					</div>
				</div>
				<i class="fa fa-quote-left mb-2"></i>
			</div>
		</div>
		<div class="col-sm-4 item">
			<div class="testimonial-item1 text-center">
				<div class="details">
					<p class="m-0">Lorem Ipsum is simply dummy text of the printing andypesetting industry. Lorem ipsum a simple Lorem  Ipsum has been the industry's standard dummy hic et quidem. Dignissimos maxime velit unde inventore quasi vero dolorem.</p>
				</div>
				<div class="author-info mt-2">
					<a href="#"><img src="images/testimonial/img2.jpg" alt=""></a>
					<div class="author-title">
						<h4 class="m-0 theme2">Cadic Vegeta</h4>
						<span>Sr. Consultant</span>
					</div>
				</div>
				<i class="fa fa-quote-left mb-2"></i>
			</div>
		</div>
		<div class="col-sm-4 item">
			<div class="testimonial-item1 text-center">
				<div class="details">
					<p class="m-0">Lorem Ipsum is simply dummy text of the printing andypesetting industry. Lorem ipsum a simple Lorem Ipsum has been the industry's standard dummy hic et quidem. Dignissimos maxime velit unde inventore quasi vero dolorem.</p>
				</div>
				<div class="author-info mt-2">
					<a href="#"><img src="images/testimonial/img3.jpg" alt=""></a>
					<div class="author-title">
						<h4 class="m-0 theme2">Jonathan Beri</h4>
						<span>Sales Manager</span>
					</div>
				</div>
				<i class="fa fa-quote-left mb-2"></i>
			</div>
		</div>
	</div>
</div></section><!-- testimonial ends -->
